html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  /* your properties here */
  display: grid;
  /* grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr; */
  /* alternate way for grid template with names */
  grid-template: [header-start] 1fr [header-end] repeat(auto, 1fr)/1fr 1fr 1fr;
  grid-gap: 5px
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */
.bigItem {
   grid-area: 2 / 2 / 4 / 4;
   height: 50%;
   width: 50%;
   /* align-self: center; vertical alignment*/
   /* justify-self is horizontal alignment */
   justify-self: center;
}
