html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 90vh;
  width: 90vw;
  /* your properties here */
  display: grid;
  grid-template: [header-start] 1fr [header-end] 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 50px;
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */
.bigItem {
  grid-area: header-start / 1 / header-end / 4;
  height: 50%;
  width: 50%;
  justify-self: center;
}
